.home {
    background: #fff;
    .slide {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        min-height: 40rem;
        padding: 2rem 0;
        .image {
            flex: 1 1 42rem;
            text-align: center;
            img {
                height: 30rem;
            }
        }
        .content {
            flex: 1 1 42rem;
            span {
                font-size: 2rem;
                color: $blue;
            }
            h3 {
                padding-top: .5rem;
                color: $black;
                font-size: 3rem;
            }
            a.btn{
                background-color: #ff0092;
                &:hover{
                   
                    background-color:$primary-color;
                    color: #fff;
                }
            }
        }
    }
    
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 3rem;
  color:$primary-color;
  &:hover{
    color:$secundary-color;
  }
}
.swiper-button-next::after, .swiper-button-prev::after{
 
  &:hover{
    color:$secundary-color;
  }
}