/*---------------------
  Categories
-----------------------*/
.categories{
    
}
.categories__item {
    height: 270px;
    position: relative;
}

.categories__item{
    h5 {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 20px;
        bottom: 20px;
        text-align: center;
        a {
            font-size: 18px;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 12px 0 10px;
            background: $primary-color;
            display: block;
        }
    }
} 



.categories__slider .col-lg-3 {
    max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
    font-size: 18px;
    color: #fff;
    height: 70px;
    width: 30px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #ebebeb;
    position: absolute;
    left: -35px;
    top: 50%;
    -webkit-transform: translateY(-35px);
    background: $primary-color;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -35px;
}

.featured .row{
    display: flex;
    flex-wrap: wrap;
    //gap:1.5rem;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#f9f9f9;
    padding:2rem;
    align-items: center;
    margin:1.5rem 0;
  }
  
  .featured .row .content{
    flex:1 1 40rem;
  }
  
  .featured .row .image-container{
    display:flex;
    gap:1.5rem;
    align-items: center;
    flex:1 1 50rem;
  }
  
  .featured .row .image-container .small-image{
    width:20%;
  }
  
  .featured .row .image-container .big-image{
    width:80%;
    padding:1rem;
  }
  
  .featured .row .image-container .small-image img{
    width:100%;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;
  }
  
  .featured .row .image-container .small-image img:hover{
    background:#ccc;
  }
  
  .featured .row .image-container .big-image img{
    width:100%;
  }
  
  .featured .row .image-container .big-image img:hover{
    transform: scale(1.05);
  }
  
  .featured .row .content h3{
    font-size: 2.5rem;
    color:var(--black);
  }
  
  .featured .row .content .stars i{
    font-size: 1.7rem;
    color:var(--orange);
    padding:.5rem 0;
  }
  
  .featured .row .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
  }
  
  .featured .row .content .price{
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bolder;
  }
  
  .featured .row .content .price span{
    font-size: 1.5rem;
    color:var(--orange);
    text-decoration: line-through;
  }
  