/*---------------------
  Header
-----------------------*/
/*
.header-fixado{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
*/
.header__top {
	background: #019fce;
    
}

.header__top__left {
	padding: 10px 0 13px;
}

.header__top__left ul li {
	font-size: 14px;
	color: #fff;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__top__left ul li:after {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__left ul li:last-child {
	margin-right: 0;
}

.header__top__left ul li:last-child:after {
	display: none;
}

.header__top__left ul li i {
	color: #fff;
	margin-right: 5px;
}
.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 9%;
    
    .logo{
      font-size: 2.5rem;
      color:$white;
      font-weight: bolder;
  
      i{
        color:$gold;
      }
    }
  
    .search-form{
      border-radius: 5rem;
      height: 5rem;
      width: 50rem;
      padding:0 2rem;
      display: flex;
      align-items: center;
      background: #fff;
      border:1px solid #c1c1c1;
  
      input{
        width: 100%;
        padding-right: 1rem;
        font-size: 1.7rem;
        text-transform: none;
        color:$light-color;
      }
  
      button.site-btn{
        font-size: 2rem;
        color:$light-color;
        background:none;
        padding:0;
        cursor: pointer;
  
        &:hover{
          color:$primary-color;
        }
      }
    }
  
    .icons a,
    .icons div{
      font-size: 2.5rem;
      margin-left: 2rem;
      color:$primary-color;
      cursor: pointer;
  
      &:hover{
        color:$secundary-color;
      }
    }
  }
  
  #search-btn{
    display: none;
  }








 



















.header__top__right__language div {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 4px;
}

.header__top__right__language span {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    top: 2px;
}

.header__top__right__language ul {
    background: #222222;
    width: 100px;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 0;
    top: 43px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.header__top__right__language ul li {
    list-style: none;
}

.header__top__right__language ul li a {
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
}

.header__top__right__auth {
    display: inline-block;
}

.header__top__right__auth a {
    display: block;
    font-size: 14px;
    color: #fff;
}

.header__top__right__auth a i {
    margin-right: 6px;
}