.menu-bar{
    background:$secundary-color;
    text-align:center;
    display: flex;

    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        li.parente1{
           
            .sub-menu-1{
                display:none;

                .sub-menu-2{
                    display: none;
                }
            }
            div.sub-menu-2{
                display: none;
            }
            li.parente2{
                &:hover{
                    div.sub-menu-2{
                        position: absolute;
                        display: block !important;
                        margin-top: -34px;
                        margin-left: 140px;
                        background: #fff;                 
    
                        ul{
                            display: block;
                            li.parente2{  
    
                            }
                        }
                    }
                }
            }

            
            
        }
        li{
           padding: 15px;
           color:#fff;

           a{
               color:#fff;
               font-size:1.5rem;
               text-decoration: none;
           }
           
            .sub-menu-1{
                display:none;
            }

           &:hover{

            .sub-menu-1{
                display:block;
                position:absolute;
                background: rgba(255,255, 255, 0.9);
                margin-top: 15px;
                margin-left: - 15px;
                z-index: 9;
                ul{
                    display: block;
                    margin: 1px;
                    li{
                        width: 300px;
                        padding: 10px;
                        border-bottom: 1px dotted $secundary-color;
                        background: transparent;
                        border-radius: 0;
                        text-align: left;
                        
                        a{
                            width: 100%;
                            color: #000;
                            display: inline-block;

                            .fa-angle-right{
                                color:#000;
                                float: right;
                                margin-right:0;
                                margin-top: 5px;
                            }
                        }
                        &:hover{
                            a{
                                color:$secundary-color;
                            }
                            
                        }
                        .sub-menu-2{
                            display: none;
                        }
                        
                    }
                    li:last-child{                        
                        border-bottom: none;                      
                    }

                }
            }
        } 

        }
        .active{
            background: #e20081;
        }
       .active, li{
           a{
               .fas{
                   margin-right:8px;
               }
           }
            &:hover{
                background: #e20081;
                border-radius: 3px;
            }  
       } 
        
    }
}