section{
    padding:0;
  }
  
  .heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    color:var(--black);
    padding:1rem;
    span{
        text-transform: uppercase;
        color:$secundary-color;
        display: block;
      }
     
  }
  

  
  
  
  
  .products{
    .box-container{
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;

        .box{
            border:.1rem solid rgba(0,0,0,.1);
            border-radius: .5rem;
            text-align: center;
            position: relative;
            overflow: hidden;
            background:#fff;
            flex:1 1 30rem;
            
           
            .content{
                    padding:1.5rem;
                    h3{
                        color:var(--black);
                        font-size: 2.5rem;
                    }
                    .price{
                        color:var(--black);
                        font-size: 2.5rem;
                        font-weight: bolder;
                        padding:1rem 0;
                        span{
                            color:var(--orange);
                            font-size: 1.5rem;
                            text-decoration: line-through;
                        }
                          
                    }
                    .btn{
                        display: inline-block;
                        margin-top: 1rem;
                        border-radius: .5rem;
                        border:.2rem solid var(--black);
                        font-weight: bolder;
                        font-size: 1.7rem;
                        color:var(--black);
                        cursor: pointer;
                        background:#fff;
                        padding:.8rem 3rem;
                        opacity: 0;
                    }
                    &:hover{
                        .btn{
                           
                            opacity:0.9;
                        } 
                    }
                      
            }

            img{
                height:10rem;
                //transform: rotate(-35deg);
                filter:drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
                margin:8rem 2rem;


            }

            &:hover {
                img{
                   
                        transform: rotate(-35deg) scale(1.2);
                     
                }
                
                .icons{
                    left:1rem; 
                   
                }              
                    .btn{
                        background: $primary-color;
                        color:#fff;
                        opacity:1;
                    } 
                
            }
            .icons{
                display: flex;
                flex-flow: column;
                position: absolute;
                top:.5rem; left:-10rem;

                a{
                    height:4.5rem;
                    width:5rem;
                    line-height: 4.5rem;
                    font-size: 2rem;
                    color:$primary-color;
                    border:.1rem solid var(--black);
                    border-radius: .5rem;
                    background:#fff;
                    margin-top: .5rem;
                  }
            }
            
        }
      }
  }
  
  .featured__item{

    .featured__item__text{
        &:hover{
            a.btn{
                background: $primary-color;
                color: #fff;
            }
        }
    }
    &:hover {
        img{
           
                transform: rotate(-35deg) scale(1.2);
             
        }
        
        .icons{
            left:2rem; 
            opacity: 1;
        }               
        
    }
    .icons{
        display: flex;
        flex-flow: column;
        position: absolute;
        top:.5rem; left:-1rem;
        opacity: 0;
        z-index: 10;
        a{
            height:4.5rem;
            width:5rem;
            line-height: 4.5rem;
            font-size: 2rem;
            color:$primary-color;
            border:.1rem solid var(--black);
           
            margin-top: .5rem;
          }
    }
  }
  
  
  .products .box-container .box .content .stars{
    padding-bottom: 1rem;
  }
  
  .products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color:var(--orange);
  }



  /* Slide*/


.products-slides{
    .product-slider{
        .slide{
            overflow: hidden;
            position: relative;
            border:.1rem solid rgba(0,0,0,.1);
            border-radius: .5rem;
            background: var(--white-color);
            .image{
                padding:1rem;
                img{
                    height: 16.875rem;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .content{
                padding:2rem;
                border-top: .1rem solid var(--light-color);
            }
            .icons{
                position: absolute;
                top:0; right:-7rem;
                a{
                    height:5rem;
                    width:5rem;
                    line-height: 5rem;
                    text-align: center;
                    font-size: 2rem;
                    border-radius: 50%;
                    background: var(--black-color);
                    color:var(--white-color);
                    display: block;
                    margin-top: 1rem;
                }
            }
            &:hover{
                
            }
        }
    }
}


.products-slides .product-slider .slide .icons{
    position: absolute;
    top:0; right:-7rem;
}

.products-slides .product-slider .slide:hover .icons{
    right:1rem;
}

.products-slides .product-slider .slide .icons a{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    background: none;
    color:var(--white-color);
    display: block;
    margin-top: 1rem;
}

.products-slides .product-slider .slide .icons a:hover{
    background:$secundary-color;
    color:#fff;
}





.products-slides .product-slider .slide .content h3{
    color:var(--black-color);
    font-weight: normal;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.products-slides .product-slider .slide .content .price{
    color:var(--orange);
    font-weight: bolder;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.products-slides .product-slider .slide .content .price span{
    color:var(--black-color);
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.products-slides .product-slider .swiper-button-next,
.products-slides .product-slider .swiper-button-prev{
    color:var(--black-color);
}

.products-slides .gap{
    margin-bottom: 2rem;
}

  /* FIM DO SLIDE*/