@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}
$primary-color: #01a748;
$secundary-color: #fe199a;
$blue : #0984e3;
$black : #333;
$white : #fff;
$gold : gold;
$light-color : #666;
$light-bg : #eee;
$border : .2rem solid $black;
$box-shadow : 0 .5rem 1rem rgba(0,0,0,.2);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:2rem;
}

html{
  overflow-x: hidden;
  font-size: 62.5%;

  &::-webkit-scrollbar{
    width: 1rem;
  }

  &::-webkit-scrollbar-track{
    background: $light-bg;
  }

  &::-webkit-scrollbar-thumb{
    background: $primary-color;
    border-radius: 5rem;
  }
}

body{
  background: #fff;
}

section{
  padding:3rem 9%;
}

.heading{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color:$black;

  span{
    color:$blue;
  }
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  border-radius: .5rem;
  padding:1rem 3rem;
  font-size: 1.7rem;
  color:$white;
  cursor: pointer;
  background: $blue;

  &:hover{
    background: $black;
  }
}

@keyframes fadeIn {
  0%{
    transform: scale(.5);
    opacity: 0;
  }
}